body, button, input, textarea {
  font-family: 'AmaticSC';
}

html, body, #root, #root > div {
  height: 100%
}

* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'AmaticSC';
  src: url('./assets/fonts/AmaticSC/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'AmaticSC';
  src: url('./assets/fonts/AmaticSC/AmaticSC-Bold.ttf');
  font-weight: 500;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}